{% load static %}

{% block title %}
<title>Confirm Deletion</title>

{% endblock title %}
{% block css %}
<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        padding: 0;
    }
   .wrapper {
    width: 90%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 10px;
    }
    button {
        padding: 10px 20px;
        background-color: #C48228;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    a {
        color: #C48228;
        text-decoration: underline;
    }
    a:hover {
        color: #FFA02E;
    }


</style>
{% endblock css %}
{% block content %}
<body>
    <div class="wrapper">
        <h1>Confirm Deletion</h1>
        <p>Are you sure you want to delete the review "{{ review.name }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit">Yes, delete it</button>
            <a href="{% url 'review_list' %}"><button type="button">Cancel</button></a>
        </form>
    </div>
    
</body>
{% endblock content %}

