{% load static %}

{% block title %}
<title>Confirm Deletion</title>

{% endblock title %}
{% block css %}
<style>
    body {
        background: linear-gradient(3deg, #e6d16c, #16014c);
        font-family: Arial, sans-serif;
        padding: 0;
        color: aliceblue;
    }
   .wrapper {
        position: relative;
        top: 30%;
        width: 50%;
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
        background-color: #FFA02E;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 10px;
    }
    button {
        padding: 10px 20px;
        background-color: #C48228;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    a {
        color: #C48228;
        text-decoration: underline;
    }
    a:hover {
        color: #FFA02E;
    }


</style>
{% endblock css %}
{% block content %}
<body>
    <div class="wrapper">
        <h1>Confirm Deletion</h1>
        <p>Are you sure you want to delete the review "{{ review.name }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" style="background-color:#16014c;">Yes, delete it</button>
            <a href="{% url 'review_list' %}"><button type="button" style="background-color:#C48228;">Cancel</button></a>
        </form>
    </div>
    
</body>
{% endblock content %}

