{% load static %}
<style>

.menu-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    .p-size-fr{
        position: relative;
        color: #FF7400;
        font-size: 3em;
        top: 90px;
    }
    .p-size-sc{
        color: #FF7400;
        font-size: 6em;
    }
    .p-size-thr{
        position: relative;
        bottom: 80px;
        color: aliceblue;
        font-size: 1.4em;
    }
    button {
        background-color: #FF7400;
        color: #fff;
        position: relative;
        bottom: 70px;
        width: 150px;
        height: 50px;
        cursor: pointer;
        border: none;
        outline: none;
    }
    button:hover {
        background-color: #e65500;
    }
}
.back-img {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


</style>
<div class="menu-conteiner-wrapper">
<div class="menu-conteiner">
    <img src="{% static 'imgs/back.png' %}" class="back-img"> 
    <div class="menu-text">
        <p class="p-size-fr">Добро пожаловать в</p>
        <p class="p-size-sc">Наш ресторан</p>
        <p class="p-size-thr">---ДОМ ЛУЧШЕЙ ЕДЫ---</p>
        <button>VIEW MENU</button>
    </div>
</div>
<div class="menu-cards-wrapper">
    {% include 'cards.html' %}
</div>    
</div>
