{% load static %}
<style>
   
    a {
        font-weight: 800;
        text-decoration: none;
      }
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px 100px 10px 100px;
        background-color: gray;
      }
      nav a,
      nav input {
        display: inline-block;
        border: none;
        outline: none;
        text-decoration: none;
        color: aliceblue;
      }
      nav .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;


      }
      .right {
        position: relative;
        display: flex; 
        align-items: center;
        justify-content: space-between;
        right: 100px;
        
        a {
            padding: 0 0 0 20px;
        }
      }
      .fence {
        width: 0;
        height: 70px;
        border: 1px solid aliceblue;
        outline: none;
        background-color: aliceblue;
        margin: 0 0 0 20px;
        
      }
      .phone-connect {
        position: relative;
        align-items: center;
        gap: 10px;
        left: 50px;

         p {
            color: aliceblue;
            font-weight: 500;
         }
         .nav-phone {
            position: relative;
            width: 20px;
            height: 20px;
            right: 5px;
            
        }
      }
      .nav-order-button {
        position: relative;
        left: 100px;
        padding: 10px 20px;
        width: 170px;
        height: 60px;
        border: none;
        outline: none;
        color: snow;
        font-size: large;
        background-color: #FF7400;
        cursor: pointer;
      }
      
    
</style>

{% comment %} <link rel="stylesheet" href="{% static 'styles/navbar.css' %}" /> {% endcomment %}
<nav>
    <div class="left">
      <a href="{% url 'landing_page' %}" id="logo"><img src="{% static 'icons/logo.png' %}" alt=""></a>

    </div>

    <div class="right">
      <a href="#">Главное</a>
      <a href="#">Меню</a>
      <a href="#">О нас</a>
      <a href="#">Бронь</a>

      <a href="#"><img src="{% static 'icons/cart.svg' %}" alt=""></a>
    
      <div class="fence"></div>
      <div class="phone-connect">
        <p style="font-weight: 900;"><img src="{% static 'icons/phone.svg' %}" alt="" class="nav-phone"> +999 95 665-55-44</p> 
        <p>Свяжитесь с нами для <br> бронирования</p>
    </div>

      <button class="nav-order-button">Заказ столика</button>

    </div>
  </nav>
  {% block js %}

  {% endblock %}