{% load static %}

<link rel="stylesheet" href="{% static 'styles/navbar.css' %}" />
<style>
  nav {
    background-color: transparent;
  }
  button:hover {
    background-color: #e65500;
}
</style>
<nav>
    <div class="left">
      <a href="{% url 'landing_page' %}" id="logo"><img src="{% static 'icons/logo.png' %}" alt=""></a>

    </div>

    <div class="right">
      <a href="#">Главное</a>
      <a href="#">Меню</a>
      <a href="#">О нас</a>
      <a href="#">Бронь</a>

      <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    
      <div class="fence"></div>
      <div class="phone-connect">
        <p style="font-weight: 900;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-inbound-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0"/>
        </svg> +999 95 665-55-44</p> 
        <p>Свяжитесь с нами для <br> бронирования</p>
    </div>

      <button class="nav-order-button">Заказ столика</button>

    </div>
  </nav>
  {% block js %}

  {% endblock %}